:root {
  --navy-950: hsl(226, 43%, 10%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-container {
  width: 100%;
  max-width: 23.125rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem auto;
  padding: 0 1rem;
}

.dashboard-header {
  background-color: hsl(235, 46%, 20%);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.reporter {
  background-color: hsl(235, 45%, 61%);
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  border-radius: 15px;
}
.reporter img {
  width: 4.625rem;
  border-radius: 50%;
  border: 3px solid white;
}

.report {
  color: hsl(236, 100%, 87%);
}

.name {
  font-size: 1.625rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  display: flex;
}

.date-navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.date-navigation button {
  background: none;
  border: none;
  color: hsl(236, 100%, 87%);
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  cursor: pointer;
}
.date-navigation button.active {
  color: white;
}

.activities-container .activities {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.activity-card {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.activity-card.work .image-container {
  background-color: hsl(15, 100%, 70%);
}
.activity-card.play .image-container {
  background-color: hsl(195, 74%, 62%);
}
.activity-card.study .image-container {
  background-color: hsl(348, 100%, 68%);
}
.activity-card.exercise .image-container {
  background-color: hsl(145, 58%, 55%);
}
.activity-card.social .image-container {
  background-color: hsl(264, 64%, 52%);
}
.activity-card.self-care .image-container {
  background-color: hsl(43, 84%, 65%);
}

.image-container {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 0.9375rem;
  overflow: hidden;
  background-color: hsl(43, 84%, 65%);
}
.image-container img {
  margin-top: -12px;
}

.activity {
  background-color: hsl(235, 46%, 20%);
  padding: 1.5rem;
  border-radius: 15px;
  margin-top: -40px;
  position: relative;
  z-index: 1;
}

.title,
.time {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title img {
  width: 20px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time .current-time {
  font-size: 2rem;
}
.time .previous-time {
  color: hsl(236, 100%, 87%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
  background-color: hsl(145, 58%, 55%);
  width: 100%;
}
.attribution a {
  color: var(--navy-950);
}

@media (min-width: 48rem) {
  .dashboard-container {
    max-width: 75rem;
    width: 100%;
    display: grid;
    grid-template-columns: 17.5rem 1fr;
    gap: 2rem;
    align-items: stretch;
    margin: 5rem auto;
  }
  .dashboard-header {
    grid-row: span 2;
    height: 95%;
  }
  .dashboard-header .date-navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  .dashboard-header button {
    font-size: 15px !important;
  }
  .reporter {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4rem;
  }
  .reporter img {
    width: 6rem;
    border: 4px solid white;
  }
  .reporter-info {
    padding-block-start: 1.5rem;
  }
  .reporter-info .name {
    font-size: 2.625rem;
    font-family: "Rubik", sans-serif;
    font-weight: 200;
  }
  .activities-container .activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    min-height: 100%;
  }
  .activity {
    margin-top: -40px;
  }
  .time {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .time p.currentTime {
    font-size: 2.625rem;
    margin: 1rem 0;
  }
  .time .previous-time {
    color: hsl(236, 100%, 87%);
  }
  .attribution {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
